{% extends "base.html" %}
{% block title %}Podcast{% endblock %}
{% block podcast_active %}active{% endblock %}

{% block content %}
<div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 w-75"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2">
            <img src="../../{{podcast['IMG']}}" width="300">
            <div>
                <h4 class="mt-3">{{podcast['TITLE']}}</h4>
                <h5 class="mt-1">{{podcast['CATEGORY']}}</h5>
                <h6 class="mt-1">{{podcast['NAME']}}</h6>
            </div>
        </div>
        <div class="mx-auto w-75 stats ">
            <p>{{podcast['DESCRIPTION']}}</p>
        </div>
        {% if current_user.is_authenticated %}

        <div class="mx-auto w-75 stats mb-4 ">
            <label for="comment">Tell us what you think:</label>
            <form action="/podcast/{{podcast['_id']}}/{{ep['ID']}}" method="post">
                <div class="form-group d-flex justify-content-center">
                    <input class="form-control d-flex" rows="2" id="comment" name="comment"></textarea>
                    <button type="submit" class="btn mybtn d-flex">
                        <span class="material-icons">send</span>
                    </button>
                </div>
            </form>
        </div>
        <h7 class="mx-auto w-75 stats mb-4">Comments:</h7>
        {% for com in comments %}
        <div class="mx-auto w-75 stats ">
            <h8 class="mt-1">{{com['NAME']}}:</h6>
                <div class="inline">
                    <p class="d-flex">{{com['TEXT']}}</p>
                    {% if com['USER'] == current_user.id %}
                    <div class="d-flex">
                        <button type="button" class="btn mybtn"
                            onclick="deleteComment({{podcast['_id']}}, {{ep['ID']}}, {{com['ID']}})">
                            <span class="material-icons">delete</span>
                        </button>
                        <button type="button" class="btn mybtn" data-toggle="modal" data-target="#modifyComment">
                            <span class="material-icons">edit</span>
                        </button>
                    </div>
                    <!--Modal for edit comment-->
                    <div class="modal fade " id="modifyComment" tabindex="-1" role="dialog"
                        aria-labelledby="modifyCommentLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modifyCommentLabel">Edit comment</h5>
                                </div>
                                <div class="modal-body">
                                    <form action="/podcast/{{podcast['_id']}}/{{ep['ID']}}/{{com['ID']}}" method="post">
                                        <div class="form-group d-flex justify-space-between">
                                            <input class="form-control d-flex" rows="2" id="text" name="text"
                                                value="{{com['TEXT']}}"></input>
                                            <button type="submit" class="btn mybtn d-flex">
                                                <span class="material-icons">send</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endif%}
                </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
</div>

{% endblock%}