{% extends "base.html" %}
{% block title %}Podcast{% endblock %}
{% block podcast_active %}active{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row hidden-md-up">
            {% for podcast in data %}
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{podcast['TITLE']}}</h4>
                        <h5 class="card-subtitle">{{podcast['CREATOR'].name}}</h5>
                        <h6 class="card-subtitletext-muted">{{podcast['CATEGORY']}}</h6>
                        <img class="card-img" src="{{podcast['IMG']}}">
                        <p class="card-text p-y-1">{{podcast['DESCRIPTION']}}</p>
                        <a href="{{url_for('podcast.details', id=podcast['_id'])}}" class="btn mybtn">
                            <span class="material-icons">east</span>
                        </a>
                        {% if current_user.is_authenticated %}
                        {%if podcast['USER'] == current_user.id %}
                        <a href="{{url_for('podcast.change_fol', id=podcast['_id'])}}" class="btn mybtn">
                            <span class="material-icons">star</span>
                        </a>
                        {% else %}
                        <a href="{{url_for('podcast.change_fol', id=podcast['_id'])}}" class="btn mybtn">
                            <span class="material-icons">star_outlined</span>
                        </a>
                        {% endif%}
                        {% endif%}
                        {% if current_user.is_authenticated and current_user.id == podcast['CREATOR'].id %}
                        <button type="button" class="btn mybtn" onclick="deletePodcast({{podcast['_id']}})">
                            <span class="material-icons">delete</span>
                        </button>
                        <button type="button" class="mybtn btn" data-toggle="modal"
                            data-target="#updatePodcast_{{podcast['_id']}}">
                            <span class="material-icons">edit</span>
                        </button>
                        <div class="modal fade" id="updatePodcast_{{podcast['_id']}}" tabindex="-1" role="dialog"
                            aria-labelledby="updatePodcas" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="ModalLongTitle">Modify Podcast</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/podcast" enctype="multipart/form-data" method="post">
                                            <input type="hidden" name="_method" value="PUT">
                                            <input type="hidden" name="_id" value="{{podcast['_id']}}">
                                            <label for="titleInput" class="form-label">Title</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" name="title" id="titleInput"
                                                    value="{{podcast['TITLE']}}">
                                            </div>
                                            <label for="descriptionInput" class="form-label">Description</label>
                                            <div class="input-group mb-3">
                                                <textarea class="form-control" name="description" id="descriptionInput"
                                                    rows="3">{{podcast['DESCRIPTION']}}</textarea>
                                            </div>
                                            <label for="categoryInput" class="form-label">Category</label>
                                            <div class="input-group mb-3">
                                                <input type="text" class="form-control" name="category"
                                                    id="categoryInput" value="{{podcast['CATEGORY']}}">
                                            </div>
                                            <label for="imageInput" class="form-label">Image</label>
                                            <div class="input-group mb-3">
                                                <input type="file" class="form-control" name="img" id="imageInput">
                                            </div>
                                            <button type="submit" class="btn btn-primary">Update</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}

{%block add%}
{% if current_user.type == 1 %}
<li class="nav-item">
  <a class="nav-link m-2"  aria-current="page" href="/podcast"  data-toggle="modal" data-target="#addPodcast"> 
    New Podcast
  </a>
</li>
<div class="modal fade" id="addPodcast" tabindex="-1" role="dialog" aria-labelledby="addPodcastTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">New Podcast</h5>
            </div>
            <div class="modal-body">
                <form action="/podcast" enctype="multipart/form-data" method="POST">
                    <label for="titleInput" class="form-label">Title</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="title" id="titleInput">
                    </div>
                    <label for="descriptionInput" class="form-label">Description</label>
                    <div class="input-group mb-3">
                        <textarea class="form-control" name="description" id="descriptionInput" rows="3"></textarea>
                    </div>
                    <label for="categoryInput" class="form-label">Category</label>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="category" id="categoryInput">
                    </div>
                    <label for="imageInput" class="form-label">Image</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="img" id="imageInput">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}
{%endblock%}