{% extends "base.html" %}
{% block title %}Accedi{% endblock %}
{% block signin_active %}active{% endblock %}

{% block content %}
<div class="col-5 bg-light p-4 border rounded">
    <form action="/signin" method="POST">
        <label for="emailInput" class="form-label">Email</label>
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="email" class="form-control" name="email" id="emailInput">
        </div>

        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Signin</button>
    </form>
</div>
{% endblock %}