{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block signup_active %}active{% endblock %}

{% block content %}
<div class="col-5 bg-light p-4 border rounded">
    <form action="/signup" method="POST">
        <label for="nameInput" class="form-label">Name</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control" name="name" id="nameInput">
        </div>
        <label for="typeInput" class="form-label">Type</label>
        <div class="input-group mb-3">
            <select class="form-select" name="type" id="typeInput">
                <option value="0">Listener</option>
                <option value="1">Creator</option>
            </select>
        </div>
        <label for="emailInput" class="form-label">Email</label>
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            <input type="email" class="form-control" name="email" id="emailInput">
        </div>
        <div class="mb-3">
            <label for="passwordInput" class="form-label">Password</label>
            <input type="password" class="form-control" id="passwordInput" name="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}