{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block about_active %}active{% endblock %}

{% block content %}
<div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-4">

            <div class="card" style="border-radius: 15px;">
                <div class="card-body text-center">
                    <div class="mt-3 mb-4">
                        <img src="https://via.placeholder.com/256x256.png?text={{user['NAME'][:2]}}"
                            class="rounded-circle img-fluid" style="width: 100px;" />
                    </div>
                    <h4 class="mb-2">{{user['NAME']}}</h4>
                    {%if user['TYPE'] == 0%}
                    <p class="about mb-4">@Listener <span class="mx-2">|</span> <a class="about"
                            href="maito:{{user['EMAIL']}}">{{user['EMAIL']}}</a></p>
                    {%endif%}
                    {%if user['TYPE'] == 1%}
                    <p class="about mb-4">@Creator <span class="mx-2">|</span>
                        <a class='about' href="maito:{{user['EMAIL']}}">{{user['EMAIL']}}</a>
                    </p>
                    {%endif%}
                    <p>Series that you like:</p>
                    {% for series in data%}
                    <div class="about_series">
                        <span class="about d-flex mb-4">{{series['TITLE']}}</span>
                        <a href="{{url_for('podcast.details', id=series['_id'])}}" class="btn mybtn follow_btn">
                            <span class="material-icons">east</span>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock%}