<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iPODCAST {% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='style.less') }}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/less@4.1.1"></script>
  <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
  <script>dayjs().format()</script>
</head>

<body>
  <header id="myheader">
    <nav class="navbar navbar-dark navbar-expand-lg mynavbar navbar-static-top">
      <div class="container-fluid">
        <h1 class="display-5">iPODCAST</h1>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link m-2 {%block home_active%}{% endblock %}" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 {%block podcast_active%}{% endblock %}" aria-current="page"
                href="{{url_for('podcast.get_all_podcasts')}}">Podcast</a>
            </li>
            {% if current_user.is_authenticated %}
            {%block add %}{% endblock %}
            <li class="nav-item">
              <a class="nav-link m-2 {%block about_active%}{% endblock %}" href="{{url_for('about.about_page')}}"
                aria-current="page">
                {{current_user.name}}
              </a>
            </li>
            <li class="nav-item m-2">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">
                Logout
              </a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link m-2 a_navbar {%block signup_active%}{% endblock %} " aria-current="page"
                href="{{ url_for('auth.signup') }}">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link m-2 a_navbar {%block login_active%}{% endblock %}"
                href="{{ url_for('auth.signin') }}">Signin</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>

    </nav>
  </header>

  <div class="container-fluid mt-4">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row justify-content-md-center">
      {%block content %}{% endblock %}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='utils.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
</body>