{% extends "base.html" %}
{% block title %}Podcast{% endblock %}
{% block podcast_active %}active{% endblock %}

{% block content %}
<div class="py-5">
    <div class="container">
        <div class="row hidden-md-up">
            {% for podcast in data %}
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-block">
                        <h4 class="card-title">{{podcast['TITLE']}}</h4>
                        <h5 class="card-subtitle">{{podcast['CREATOR'].name}}</h5>
                        <h6 class="card-subtitletext-muted">{{podcast['CATEGORY']}}</h6>
                        <img class="card-img" src="{{podcast['IMG']}}">
                        <p class="card-text p-y-1">{{podcast['DESCRIPTION']}}</p>
                        <a href="{{url_for('podcast.details', id=podcast['_id'])}}" class="btn mybtn">
                            <span class="material-icons">east</span>
                        </a>
                        {% if current_user.is_authenticated %}
                        {%if podcast['USER'] == current_user.id %}
                        <a href="{{url_for('podcast.change_fol', id=podcast['_id'])}}" class="btn mybtn">
                            <span class="material-icons">star</span>
                        </a>
                        {% else %}
                        <a href="{{url_for('podcast.change_fol', id=podcast['_id'])}}" class="btn mybtn">
                            <span class="material-icons">star_outlined</span>
                        </a>
                        {% endif%}
                        {% endif%}
                        {% if current_user.is_authenticated and current_user.id == podcast['CREATOR'].id %}
                        <button type="button" class="btn mybtn" onclick="deletePodcast({{podcast['_id']}})">
                            <span class="material-icons">delete</span>
                        </button>
                        <button type="button" class="mybtn btn" data-toggle="modal"
                            data-target="#updatePodcast_{{podcast['_id']}}">
                            <span class="material-icons">edit</span>
                        </button>
                        <div class="modal fade" id="updatePodcast_{{podcast['_id']}}" tabindex="-1" role="dialog"
                            aria-labelledby="updatePodcas" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="ModalLongTitle">Modify Podcast</h5>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/podcast" enctype="multipart/form-data" method="POST">
                                            {{form.csrf_token}}
                                            {{form.method(value="PUT")}}
                                            {{form.id(value=podcast['_id'])}}
                                            {{form.title.label(class="form-label")}}
                                            <div class="input-group mb-3">
                                                {{form.title(class="form-control", value=podcast['TITLE'])}}
                                            </div>
                                            {{form.description.label(class="form-label")}}
                                            <div class="input-group mb-3">
                                                {{form.description(class="form-control", value=podcast['DESCRIPTION'])}}
                                            </div>
                                            {{form.category.label(class="form-label")}}
                                            <div class="input-group mb-3">
                                                {{form.category(class="form-control")}}
                                            </div>
                                            {{form.img.label(class="form-label")}}
                                            <div class="input-group mb-3">
                                                {{form.img(class="form-control")}}
                                            </div>
                                            {{form.submit(class="btn btn-primary", value="Update")}}
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}

{%block add%}
{% if current_user.type == 1 %}
<li class="nav-item">
  <a class="nav-link m-2"  aria-current="page" href="/podcast"  data-toggle="modal" data-target="#addPodcast"> 
    New Podcast
  </a>
</li>
<div class="modal fade" id="addPodcast" tabindex="-1" role="dialog" aria-labelledby="addPodcastTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">New Podcast</h5>
            </div>
            <div class="modal-body">
                <form action="/podcast" enctype="multipart/form-data" method="POST">
                    {{form.csrf_token}}
                    {{form.method(class="form-control", value="POST")}}
                    {{form.id(value=-1)}}
                    {{form.title.label(class="form-label")}}
                    <div class="input-group mb-3">
                        {{form.title(class="form-control")}}
                    </div>
                    {{form.description.label(class="form-label")}}
                    <div class="input-group mb-3">
                        {{form.description(class="form-control")}}
                    </div>
                    {{form.category.label(class="form-label")}}
                    <div class="input-group mb-3">
                        {{form.category(class="form-control")}}
                    </div>
                    {{form.img.label(class="form-label")}}
                    <div class="input-group mb-3">
                        {{form.img(class="form-control")}}
                    </div>
                    {{form.submit(class="btn btn-primary", value="Add")}}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endif %}
{%endblock%}