{% extends "base.html" %}
{% block title %}Podcast{% endblock %}
{% block podcast_active %}active{% endblock %}

{% block content %}
<div class="inline w-75">
    <input type="text" class="form-control search d-flex" name="search" id="search" placeholder="Search">
    <button class="btn mybtn d-flex" onclick="search()"><span class="material-icons">search</span></button>
</div>
<div class="d-flex justify-content-center container mt-5">
    <div class="card p-3 w-75"><i class="fa fa-apple"></i>
        <div class="about-product text-center mt-2">
            <img src="../{{podcast['IMG']}}" width="300">
            <div>
                <h4 class="mt-3">{{podcast['TITLE']}}</h4>
                <h5 class="mt-1">{{podcast['CATEGORY']}}</h5>
                <h6 class="mt-1">{{creator['NAME']}}</h6>
            </div>
        </div>
        <div class="mx-auto w-75 stats ">
            <p>{{podcast['DESCRIPTION']}}</p>
        </div>
        <div class="py-5">
            <div class="container">
                <div class="row hidden-md-up">
                    {% if current_user.is_authenticated%}
                    {% for episode in episodes %}
                    <div class="col-m-4 mt-2">
                        <div class="card ep_card">
                            <div class="card-block">
                                <div class="inline">
                                    <div class="mx-3">
                                        <h4 class="card-title">{{episode['TITLE']}}</h4>
                                        <h6 class="card-subtitle">{{episode['DATE']}}</h6>
                                        <div class="my-4">
                                            <audio controls class="embed-responsive-item">
                                                <source src="../{{episode['AUDIO']}}" type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>
                                        </div>
                                        <div class="card-link">
                                            <a href="{{url_for('episodes.details', id=podcast['_id'], id_ep=episode['ID'])}}"
                                                class="btn mybtn">
                                                <span class="material-icons">east</span>
                                            </a>
                                            {%if episode['USER'] == current_user.id %}
                                            <button type="button" class="btn mybtn"
                                                onclick="fav({{podcast['_id']}}, {{episode['ID']}})">
                                                <span class="material-icons">favorite</span>
                                            </button>
                                            {% else %}
                                            <button type="button" class="btn mybtn"
                                                onclick="fav({{podcast['_id']}}, {{episode['ID']}})">
                                                <span class="material-icons">favorite_border</span>
                                            </button>
                                            {% endif%}
                                            {% if current_user.id == creator['id'] and
                                            current_user.type
                                            == 1 %}
                                            <button type="button" class="btn mybtn"
                                                onclick="deleteEpisode({{podcast['_id']}}, {{episode['ID']}})">
                                                <span class="material-icons">delete</span>
                                            </button>
                                            {%endif%}
                                        </div>
                                    </div>
                                    <p class="d-flex description">{{episode['DESCRIPTION']}}</p>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <span>Sign in to listen to the episodes</span>
                    <a href="{{url_for('auth.signin')}}" class="btn mybtn">Sign in</a>
                    {%endif%}
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock%}

{%block add%}
{% if current_user.id == creator['id'] and current_user.type == 1 %}
<li class="nav-item">
    <a class="nav-link m-2" aria-current="page" href="/podcast" data-toggle="modal" data-target="#episodeCreate">
        New Episode
    </a>
</li>
<div class="modal fade" id="episodeCreate" tabindex="-1" role="dialog" aria-labelledby="episodeCreateTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="episodeModalTitle">New Episode</h5>
            </div>
            <div class="modal-body">
                <form action="/podcast/{{podcast['_id']}}" enctype="multipart/form-data" method="POST">
                    {{ form.csrf_token }}
                   {{form.title.label(class="form-label")}}
                    <div class="input-group mb-3">
                        {{form.title(class="form-control")}}
                    </div>
                    {{form.date.label(class="form-label")}}
                    <div class="input-group mb-3">
                       {{form.date(class="form-control")}}
                    </div>
                    {{form.description.label(class="form-label")}}
                    <div class="input-group mb-3">
                        {{form.description(class="form-control")}}
                    </div>
                    {{form.audio.label(class="form-label")}}
                    <div class="input-group mb-3">
                        {{form.audio(class="form-control")}}
                    </div>
                    {{form.submit(class="btn mybtn")}}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{%endblock%}