{% extends "base.html" %}
{% block title %}Signup{% endblock %}
{% block signup_active %}active{% endblock %}

{% block content %}
<div class="col-5 bg-light p-4 border rounded">
    <form action="/signup" method="POST">
        {{form.csrf_token}}
        {{form.name.label(class="form-label")}}
        <div class="input-group mb-3">
            {{form.name(class="form-control")}}
        </div>
        {{form.type.label(class="form-label")}}
        <div class="input-group mb-3">
            {{form.type(class="form-control")}}
        </div>
        {{form.email.label(class="form-label")}}
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            {{form.email(class="form-control")}}
        </div>
        {{form.password.label(class="form-label")}}
        <div class="mb-3">
            {{form.password(class="form-control")}}
        </div>
        {{form.confirm.label(class="form-label")}}
        <div class="mb-3">
            {{form.confirm(class="form-control")}}
        </div>
        {{form.submit(class="btn mybtn")}}
    </form>
</div>
{% endblock %}