{% extends "base.html" %}
{% block title %}Accedi{% endblock %}
{% block signin_active %}active{% endblock %}

{% block content %}
<div class="col-5 bg-light p-4 border rounded">
    <form action="/signin" method="POST">
        {{form.csrf_token}}
        {{form.email.label(class="form-label")}}
        <div class="input-group mb-3">
            <span class="input-group-text">@</span>
            {{form.email(class="form-control")}}
        </div>
        {{form.password.label(class="form-label")}}
        <div class="mb-3 input-group">
            {{form.password(class="form-control")}}
        </div>
        {{form.submit(class="btn mybtn")}}
    </form>
</div>
{% endblock %}