.mynavbar {
  background: #58508d;
  height: 10rem;
}

body {
  background: #58508d;
  font-family: 'Comfortaa', sans-serif !important;
}

h1 {
  color: #fff;
  margin-left: 3vw;
}

.a_navbar {
  background-color: #BC5090;
  text-align: center;
  padding-left: 25px !important;
  padding-right: 25px !important;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
}

.card {
  background-color: #755d97;
  border-radius: 25px;
  padding: 25px;
  margin: 25px;
  color: #fff;
}

img {
  position: relative;
  border-radius: 15px;
}

.mybtn {
  color: #003F5C;
}

h4 {
  color: #fff;
}

h5 {
  color: #ffffff8b;
}

h6 {
  color: #ffffff79;
}

.card-text {
  color: #fff;
}

.about {
  color: #ffffff8b;
}

.modal-title {
  color: #58508d !important;
}

.alert {
  background-color: #58508d !important;
  color: #fff !important;
  border: transparent;
}

.ep_card {
  background-color: #b5a0d3;
}

.about_series {
  text-align: left;
  display: flex;
  justify-content: space-between;
}

.follow_btn {
  color: #fff;
  border: transparent;
  display: flex;
}


.inline {
  display: flex;
  justify-content: space-between;
}

.comment {
  display: flex;
  justify-content: space-between;
}
.search{
  background-color: #b5a0d3;
  color: #fff;
  border: transparent;
  border-radius: 25px;
}